{% load staticfiles %}
<!DOCTYPE html>
<html>
    
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', "Words' frequency");
      //data.addColumn({type:'string', role:'annotation'});
      //data.addColumn({type:'string', role:'annotationText'});

      data.addRows([//[Id, freq]
        {% for wid, freq in xml_list %}
            [{{wid}}, {{freq}}],
        {% endfor %}
        ]);

      var data_j = new google.visualization.DataTable();
      data_j.addColumn('number', 'X');
      data_j.addColumn('number', "Words' frequency");

      data_j.addRows([//[Id, freq]
        {% for wid, freq in json_list %}
            [{{wid}}, {{freq}}],
        {% endfor %}
        ]);

      var options = {
        chart: {
          title: "Zip's Law",
          subtitle: 'Ebola in Pubmed'
        },
        width: 900,
        height: 600,
        hAxis: {
            title:'Words'
          //ticks: [{v:32, f:'thirty two'}, {v:64, f:'sixty four'}]
        },
        vAxis: {
          title: 'Frequency'
        }
      };
      var options_j = {
        chart: {
          title: "Zip's Law",
          subtitle: 'Ebola in twitter'
        },
        width: 900,
        height: 600,
        hAxis: {
            title:'Words'
        },
        vAxis: {
          title: 'Frequency'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      var chart_j = new google.visualization.LineChart(document.getElementById('chart_div_j'));
      chart.draw(data, options);
      chart_j.draw(data_j, options_j);
    }
  </script>
  <link href="{% static 'css/search.css' %}" rel="stylesheet">
</head>
<body>
  <div align="center">
      <h1>Zip's Law</h1>
      <h3>Ebola in Pubmed</h3>
      <form action="/xml">
        <input type="submit" value="See Detail" />
      </form>

    <div id="chart_div" align="center"></div>
  </div>
  <div align="center">
      <h1>Zip's Law</h1>
      <h3>Ebola in Twitter</h3>
      <form action="/json">
        <input type="submit" value="See Detail" />
      </form>
    <div id="chart_div_j" align="center"></div>
  </div>
<div style="clear:both;"></div>
</body>
</html>