{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/search.css" rel="stylesheet">
    
    <link href="static/css/table.css" rel="stylesheet">
    

    <title>IR FullTextSearch</title>


</head>

<body>
<form class="form-wrapper" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form }}
    <input type="text" id="search" placeholder="Search for..." name="input" >
    <input type="submit" value="Search" name="search_all">
    <input type="submit" value="Read and Parse" name="parse">
    <input type="submit" value="Calcualte" name="search">
    <input type="submit" value="TFIDF" name="tfidf">
    <button onclick="location.href='/chart'" type="button">Zipf Chart</button><br>
    <span>Choose File... </span>
    <input type="file"  name="myfile" multiple>
    <button type="submit"  name="upload">Upload</button>
    
</form>


<!--
 <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form }}
    <div align='center'>
        Please input here...<input type="text" name="input">
        <button type="submit" name="parse">
            <span>
              Read and Parse
            </span>
        </button>
        <button type="submit" name="search">
            <span>
              Search
            </span>
        </button>
        <button type="submit"  name="search_all">Search2</button><br>
        

    </div><br><br>
    </form>-->
    <section>
  <!--for demo wrap-->
  <h1>TFIDF Table</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Word</th>
          <th>TFIDF</th>
          <th>Word</th>
          <th>TFIDF with Shannon information content</th>
          <!--<th>Sentence</th>-->
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          {% for w1, t, w2, s in statistic_list%}
        <tr>
          <td>{{w1}}</td>
          <td>{{t}} </td>
          <td>{{w2}}</td>
          <td>{{s}}</td>
          <!--<td>{{s}}</td>-->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>



<div align="center">
  <h2>
  {% for s in stemWord_list %}
    {{s}}
  {% endfor %}
  </h2>
</div>
<div align="center">
    {% for name, text in return_list %}
    <div><h1> in file : {{name}}</h1></div><br>
    <area<h2>Whole text : {{text}}</h2></area><br><br>
    {% endfor %}
</div>

    <!--<div>File : {% for f in file_notemp%} {{f}} /{%endfor%}</div><br>
    <div>Char : {% for c in ch%} {{c}} /{%endfor%}</div><br>
    <div>Word : {% for w in wo%} {{w}} /{%endfor%}</div><br>
    <div>Sentence : {% for s in se%} {{s}} {%endfor%}</div><br>-->
    <!--<div>Sentence by model : {% for s in se_m%} {{s}} {%endfor%}</div><br>-->
    <!--
    {% for n, ty, sen in tupList %}
    <div>Find in : {{n}} </div><br>
    <div>Type : {{ty}} </div><br>
        {% for s in sen %}
        <div>Text : {{s}} </div><br>
        {% endfor %}
    {% endfor %}-->

    

<script src="static/js/table.js"></script>
</body>

</html>

<!--
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
</div>-->
