{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/upload.css" rel="stylesheet">

    <title>IR_upload</title>


</head>

<body>
<form method="post" enctype="multipart/form-data" action="">
 {% csrf_token %}
    {{ form }}
  <input type="file" name="myfile" multiple>
  <p>Drag your files here or click in this area.</p>
  <button type="submit"  name="upload">Upload</button>

</form>




    <script src="static/js/upload.js"></script>
</body>
</html>